input[type=text] {
	width: 100%;
	height: 35px;
}

input[type=number] {
	width: 100%;
	height: 35px;
}

button {
	width: 100%;
	margin: 1pt;
}

.ingredient-list {
	display: flex;
	flex-direction: column;
}

.ingredient {
	flex-grow: 1;
	border-bottom: 1px solid #dfdfdf;
	margin: 5pt;
	padding: 5pt;
	font-size: 16pt;
}
