blinker==1.9.0
click==8.1.7
docstring-parser==0.16
Flask==3.1.0
Flask-Cors==5.0.0
Flask-SQLAlchemy==3.1.1
greenlet==3.1.1
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==3.0.2
parameterized==0.9.0
pydot==3.0.2
PyJWT==2.10.1
pyparsing==3.2.0
python-dateutil==2.9.0.post0
PyYAML==6.0.2
six==1.17.0
SQLAlchemy==2.0.36
typing_extensions==4.12.2
Werkzeug==3.1.3
wonderwords==2.2.0
